/build/
/CMakeUserPresets.json

/logs/
*.log

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.out

/.vscode/
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json

.DS_Store
Thumbs.db
CoreTests
My_core